.env
*.env
.env.*

chroma_data/

brain-api/node_modules/
brain-api/dist/
brain-api/.env
brain-api/npm-debug.log*
brain-api/yarn-debug.log*
brain-api/yarn-error.log*

brain-watcher/brain-watcher
brain-cli/brain

.DS_Store
*.log
